* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, serif;
    font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 173px;
    min-width: 173px;
    height: 57px;
    line-height: 57px;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.btn:hover {
    opacity: 0.9;
}

/* Header */

.header {
    margin: 15px 0 106px;
}

.nav__list,
.header-top {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-top__btn {
    margin-left: 59px;
}

.nav__item a {
    display: inline-block;
    padding: 8px 19px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.header-top {
    font-family: "Public Sans", serif;
    position: relative;
    padding: 13px 0;
    background: #fff;
}

.header-top::after {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}
.nav__item:hover,
.nav__item--active {
    position: relative;
    text-shadow: 0.5px 0 0 currentColor;
}

.nav__item--active::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 19px;
    bottom: -20px;
    width: 1.6rem;
    height: 2px;
    background: #143c3c;
    z-index: 1;
}

/* Hero */

.hero {
    padding: 60px 0 130px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    width: 368px;
    margin-top: 43px;
    color: #152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    margin: 20px 0 42px;
    color: #575d5e;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.hero-cta {
    display: flex;
    gap: 36px;
}

.hero-cta__play {
    position: relative;
    display: flex;
    align-items: center;
}

.hero-cta__block-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 57px;
    min-height: 59px;
    border: 4px solid #143c3c;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.hero-cta__icon {
    position: absolute;
    left: 8px;
    margin: auto 0;
}

.hero-cta__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    margin-left: 9px;
}

.hero__media {
    position: relative;
    display: flex;
    gap: 20px;
    margin-right: 23px;
}

.hero__image {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}

.hero__image:nth-child(2) {
    margin-top: 77px;
}

.hero__bg {
    position: absolute;
    left: 156px;
    bottom: 81px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__decor {
    position: absolute;
}

.hero__decor:first-child {
    top: 35px;
    left: 254px;
    z-index: 2;
}

.hero__decor:nth-child(2) {
    top: 27px;
    left: 297px;
    z-index: 1;
}

.hero__decor:nth-child(3) {
    bottom: 64px;
    right: 77px;
    z-index: 1;
}

.hero__decor:nth-child(4) {
    bottom: 93px;
    right: 37px;
    z-index: 2;
}

/* Header-bottom */

.header-bottom {
    padding: 0 120px;

    display: flex;
    width: 100%;
    height: 201px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100.5px;
    background: #e2eddf;
}

.brand {
    display: flex;
    align-items: center;
}

.brand__name {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
}

/* Service */
.service {
    margin-bottom: 100px;
}

.service .row {
    display: flex;
    justify-content: space-between;
}

.service__nav {
    display: flex;
    gap: 17px;
    margin-top: 41px;
    margin-right: 73px;
}

.service__sub-title {
    padding-left: 46px;
    position: relative;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.service__sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 25px;
    height: 1px;
    background: #152427;
}

.service__heading {
    position: relative;
    width: 46%;
    margin-top: 12px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.service__heading::after {
    position: absolute;
    bottom: 19px;
    left: 351px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.service__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #e2eddf;
    transition: 0.25s;
    border: 1px solid #e2eddf;
}

.service__button:hover {
    border: 1px solid #143c3c;
    background: #143c3c;
}

.service__button:hover .service__arrow path {
    stroke: #fff;
}

.service__list {
    margin-top: 76px;
    display: flex;
    gap: 16px;
    flex-shrink: 0;
    overflow: hidden;
    padding-bottom: 57px;
}

.service__item {
    flex: 1;
    width: 33.33%;
    transition: 0.25s;
}

.service-item__body {
    padding-right: 36px;
    transition: 0.25s;
}

.service-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__body {
    padding: 0 18px;
}

.service-item__thumb {
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.service-item__title {
    margin-top: 24px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
}

.service-item__desc {
    padding: 18px 0 23px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

/* About */

.about__main-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about__decor {
    position: absolute;
}

.about__decor:first-child {
    top: -18px;
    left: 46px;
    z-index: 2;
}

.about__decor:nth-child(2) {
    top: 15px;
    left: 89px;
    z-index: 1;
}

.about__media {
    position: relative;
    display: flex;
    gap: 21px;
    width: 52%;
}

.about__image {
    display: inline-block;
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__image-1 {
    margin-top: 77px;
}

.about-info {
    font-family: "Public Sans";
    position: absolute;
    width: 143px;
    padding: 19px 23px 11px;
    background: #fff;
    bottom: 8px;
    right: -9px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-info__title {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px; /* 100% */
}

.about-info__sub-title {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 14px; /* 140% */
}

.info-text {
    display: block;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px; /* 140% */
}

.info-percent {
    margin: 10px 0 18px;
}

.info-percent__title {
    position: relative;
}

.info-percent__title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    left: 0;
    bottom: -3px;
}

.info-percent__title::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
    left: 0;
    bottom: -3px;
    z-index: 1;
}

.info-percent__status {
    margin-top: 8px;
    text-align: end;
}

.info-team {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-team::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
    top: -16px;
    left: 2px;
}

.info-team::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
    top: -13px;
    left: 5px;
}

.info-team__group-avatar {
    margin-left: 6px;
    display: flex;
}

.info-team__avatar {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -6px;
}

.about__body {
    width: 43%;
}

.about__sub-title {
    padding-left: 46px;
    position: relative;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}

.about__sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 1px;
    top: 9px;
    left: 0;
    background: #152427;
}

.about__heading {
    margin: 20px 0 11px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.about__desc {
    margin-bottom: 36px;
    color: #7d8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.about__content {
    position: relative;
    display: flex;
}

.about__content::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #83a17d;
    left: 0;
    bottom: 20px;
}

.about__number-desc {
    margin-bottom: 58px;
    font-size: 14px;
}

.about__number {
    margin-right: 24px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

/* Process */
.process {
    margin-top: 79px;
    padding: 36px 0 176px;
}

.process__sub-title {
    position: relative;
    color: #152427;
    padding-left: 53px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}

.process__sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 1px;
    background: #152427;
    left: 7px;
    top: 9px;
}

.process__heading {
    position: relative;
    width: 42%;
    margin: 20px 0 81px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.process__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 2px;
    background: #152427;
    right: -9px;
    bottom: 18px;
}

.process-item {
    position: relative;
    display: flex;
    border-radius: 33px;
    background: #fff;
    padding: 46px 20px 21px;
}

.process-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    left: 0;
    bottom: 0;
}

.process-item__number {
    margin-top: 7px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 52px; /* 72.222% */
}

.process-item__title {
    margin: 22px 0 0 49px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
}

.process-item__desc {
    position: absolute;
    width: 50%;
    left: 527px;
    bottom: 21px;
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.process-item--1 .process-item__number {
    margin: 11px 0 55px;
}

.process-item--1 {
    background: #e2eddf;
}

.process-item--1::after {
    content: none;
}

.process-item__image {
    position: absolute;
    width: 450px;
    height: 444px;
    object-fit: cover;
    bottom: 0;
    right: 92px;
}

.process-item__content {
    margin-left: 64px;
}

.process-item--1 .process-item__title {
    margin: 26px 0 22px;
}

.process-item__link {
    text-decoration: underline;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 18px; /* 100% */
}

/* Features */

.features {
    position: relative;
    padding: 116px 0 63px;
    background: #143c3c;
}

.features .row {
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.features__heading {
    position: relative;
    width: 40%;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.features__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 2px;
    background: #83a17d;
    bottom: 20px;
    right: 97px;
}

.features__info {
    font-family: "Public Sans";
    width: 52%;
}

.features__desc {
    margin: 11px 0 13px;
    color: #6a8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.features__cta {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.features__arrow {
    margin-left: 26px;
}

.features__body {
    position: relative;
    display: block;
}
.features__video {
    width: 100%;
    height: 544px;
    border-radius: 22px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.features__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features__decor {
    position: absolute;
    top: 122px;
    right: 106px;
    z-index: 1;
}
.features__decor:nth-child(2) {
    top: 214px;
    right: 112px;
}

/* Customer */

.customer {
    padding: 140px 0 184px;
}

.customer__heading {
    width: 48%;
    color: #152427;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.customer__desc {
    width: 48%;
    color: #7d8188;
    text-align: center;
    margin: 0 auto 44px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.customer__list {
    display: flex;
    gap: 45px;
}

.customer__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    margin-top: 59px;
    border-radius: 160px;
    height: 362px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.customer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.customer__title {
    margin: 23px 0 12px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

.customer__sub-title {
    width: 75%;
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 4);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.customer__card:hover {
    margin-top: 0;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border: none;
}

/* Blog */

.blog__sub-title {
    position: relative;
    padding-left: 46px;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}

.blog__sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 1px;
    background: #152427;
    left: 0;
    top: 9px;
}

.blog__heading {
    width: 46%;
    position: relative;
    margin: 10px 0 90px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.blog__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 82px;
    height: 3px;
    background: #152427;
    bottom: 18px;
    right: -51px;
}

.blog .row {
    display: flex;
    justify-content: space-between;
}

.blog__desc {
    width: 36%;
    margin-top: 29px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.blog__list {
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog__item {
    padding-bottom: 102px;
    flex: 1;
    width: 33.3%;
}

.blog__thumb {
    display: block;
    height: 317px;
    object-fit: cover;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.blog-content {
    padding-right: 50px;
    position: relative;
    height: 204px;
    padding-top: 26px;
    transition: 0.25s;
}

.blog-content__status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: #e2eddf;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 12px; /* 120% */
    padding-right: 14px;
}

.blog-content__title {
    position: relative;
    color: #143c3c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.blog-content__date {
    position: absolute;
    right: 33px;
    top: 180px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 12px; /* 120% */
}

.blog-content__line {
    max-width: calc(100% - 23px);
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
    left: 0;
    top: 163px;
}

.blog__item:hover .blog-content {
    border-radius: 0px 0px 20px 20px;
    background: var(--text-color-white, #fff);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
    padding-left: 30px;
    padding-right: 0;
}

.blog__item:hover .blog-content__line {
    left: 30px;
    max-width: calc(100% - 53px);
}

/* Footer */

.footer {
    background: #143c3c;
    padding-bottom: 96px;
}

.footer__body {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    margin-top: 72px;
    width: 39%;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
}

.footer__email {
    margin-top: 25px;
    background: transparent;
    border: none;
    width: 183px;
    height: 23px;
}

.footer__email::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px; /* 100% */
}

.footer__arrow {
    margin: 27px 0 0 126px;
    padding: 8px;
}

.footer__email-line {
    width: 354px;
    height: 1px;
    background: #6a8383;
    margin-top: 28px;
}

.footer__social-block {
    display: flex;
    gap: 22px;
    margin-top: 47px;
}

.footer__social-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #265252;
    transition: 0.25s;
}

.footer__social-image:hover {
    background: #a75325;
    border: 1px solid #a75325;
}

.footer__social-image--2 {
    position: relative;
}

.footer__social-image--2::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5.5px;
    height: 5.5px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer__row {
    font-family: "Public Sans";
    display: flex;
    margin-top: 94px;
    width: 40%;
    justify-content: space-between;
}

.footer__header {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-bottom: 6px;
}

.footer__text {
    color: #6a8383;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 36px; /* 225% */
}

.footer .container {
    position: relative;
}

.footer .container::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
    left: 0;
    top: 348px;
}
